@import "../GLOBAL_BASE.css";

body {
	min-height: 100vh;
	font-size: 1.6rem;
	line-height: 1.6;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.carousel {
	height: 300px;
	width: 700px;
	outline: 2px solid black;
	overflow: hidden;
}

.slider {
	height: 100%;
	width: 200%;
	display: flex;
	transition-duration: 500ms;
}

.image {
	height: 100%;
	width: 100%;
	outline: 1px solid yellow;
	display: flex;
	justify-content: center;
	align-items: center;
	background-position: center;
	background-size: cover;
	background-image: url("https://images.unsplash.com/photo-1458966480358-a0ac42de0a7a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80");
}

.controls {
	display: flex;
	justify-content: space-between;
	width: 700px;
}

.next,
.prev {
	cursor: pointer;
}
