@import "../GLOBAL_BASE.css";

body {
	font-family: "Roboto", sans-serif;
	font-size: 1.6rem;
	line-height: 1.6;
	padding: 20px;
}

.carousel {
	height: 80vh;
	width: 100%;
	position: relative;
	overflow-x: hidden;
	box-shadow: 0 20px 20px rgba(0, 0, 0, 0.5);
	border-radius: 10px;
}

.carousel__slider {
	height: 100%;
	display: flex;
	justify-content: flex-start;
}

.carousel__slider-image {
	height: 100%;
	background-position: center;
	background-size: cover;
}

.carousel__prev-button,
.carousel__next-button {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 50px;
	height: 100%;
	transition-duration: 500ms;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0.25), transparent);
}

.carousel__next-button {
	background-image: linear-gradient(to left, rgba(0, 0, 0, 0.25), transparent);
	right: 0;
}

.carousel__prev-button svg,
.carousel__next-button svg {
	cursor: pointer;
	height: 30px;
	width: 30px;
	transition-duration: 500ms;
	opacity: 0.5;
}

.carousel__prev-button svg g,
.carousel__next-button svg g {
	fill: #a2b5bd;
	transition-duration: 125ms;
}

.carousel__prev-button svg:hover g,
.carousel__next-button svg:hover g {
	fill: rgb(218, 83, 38);
}

.carousel__prev-button svg:hover,
.carousel__next-button svg:hover {
	transform: scale(1.25);
	opacity: 1;
}

.carousel__next-button svg:active {
	transform: translateX(3px);
}

.carousel__prev-button svg:active {
	transform: translateX(-3px);
}

.carousel__indicators {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	position: absolute;
	bottom: 0;
	height: 40px;
	background-image: linear-gradient(to top, rgba(0, 0, 0, 0.25), transparent);
}

.carousel__position-indicator {
	margin: 0 5px;
	cursor: pointer;
	height: 5px;
	width: 50px;
	background-color: #a2b5bd;
	transform: skewX(-60deg);
	transition-duration: 500ms;
	opacity: 0.5;
}

.carousel__position-indicator:hover {
	opacity: 1;
}

.active {
	background-color: rgb(218, 83, 38);
	opacity: 1;
}
